@media (max-width:1010px ) {
    .hashtag img {
        margin-left: 20%;
    }
    .copywrite img {
        margin-left: 20%;
    }
    .menu a {
        padding: 1.6% 7%;
    }
}

@media (max-width:912px ) {
    .hashtag img {
        margin-left: 50%;
        width: 64%;
    }
    .copywrite img {
        margin-left: 50%;
        width: 64%;
    }
    p.foot {
        font-size: 20px;
    }
    .menu a {
        padding: 1.6% 6%;
    }
    .nice {
        font-size: 60px;
    }
    .nice2 {
        font-size: 60px;
    }
    .head p {
        font-size: 28px;
    } 
    #head {
        height: 560px;
    }
    .benefits p {
        font-size: 22px;
    }
    .dis p {
        font-size: 26px;
    }
}

@media (max-width:700px ) {
    .menu a {
        padding: 1.6% 4%;
    }
    .benefits p {
        font-size: 18px;
    }
    .dis p {
        font-size: 20px;
    }
    .hashtag img {
        margin-left: 34%;
        width: 56%;
    }
    .copywrite img {
        margin-left: 34%;
        width: 56%;
    }
    .socialbutton img {
        width: 80%;
    }
    p.foot {
        font-size: 15px;
    }
}

@media (max-width:640px ) {
    .menu {
        margin-left: 0%;
        display: flex;
        flex-direction: column;
        align-items:center;
    }
    .menu img {
        margin-left: 72%;
        margin-top: -25%;
    }
    .menu a:hover {
        background-color:#e9c790;
    }
    .nice {
        margin-top: 14%;
        font-size: 50px;
    }
    .nice2 {
        font-size: 50px;
    }
    .head p {
        font-size:22px ;
    }
    .benefits img {
        width:50%;
        display: flex;
        margin-left: 24%;
    }
    .benefits p {
        text-align: center;
        margin-top:8%;
        padding: 0%;
        font-size: 20px;
    }
    .container {
        display: flex;
        flex-direction: column;
    }
    .container2 {
        display: flex;
        flex-direction: column;
    }
    .dis {
        display: flex;
        flex-direction: column;
        align-items:center;
    }
    .dis img {
        width:60%;
    }
    .dis p {
        font-size: 30px;
    }
    .discount a {
        margin-left: 35%;
        margin-top:-2%;
        text-align: center;
        padding:12px 20px;
    }
    .pagefooter {
        display: flex;
        flex-direction: column;
    }
    .hashtag img {
        margin-left: 18%;
    }
    .copywrite img {
        margin-left: 18%;
        margin-top: 30%;
    }
    .benefits h2 {
        font-size: 40px;
    }
    #head {
        width:100%;
    }
}

@media (max-width:530px ) {
    .menu img {
        margin-left: 72%;
        margin-top: -27%;
    }
    .about iframe {
        height:160%;
        width:100%;
        display: flex;
        justify-content: center;
    }
}
@media (max-width:480px ) {
    .menu img {
        margin-left: 64%;
        margin-top: -31%;
    }
    .nice {
        margin-top: 18%;
        font-size: 42px;
    }
    .nice2 {
        font-size: 44px;
    }
    .head p {
        font-size: 14px;
    }
    .dis p {
        font-size: 22px;
    }
}
@media (max-width:400px ) {
    .discount a {
        margin-left: 25%;
        margin-top: -2%;
        text-align: center;
        padding: 12px 37px;
    }
    .but a {
        font-size: 18px;
        padding:12px 60px;
    }
}
@media (max-width:300px) {
    .but a {
        padding:12px 40px;
    }
    .menu img {
        margin-top: -40%;
    }
    .nice {
        margin-top: 30%;
    }
}